openapi: 3.1.0
info:
  title: Google Cloud Interconnect InterconnectAttachments Interconnects API
  description: Provides programmatic access to manage interconnect connections, attachments, and locations for hybrid cloud connectivity between on-premises networks and Google Cloud.
  version: v1
  contact:
    name: Google Cloud
    url: https://cloud.google.com/network-connectivity/docs/interconnect
servers:
- url: https://compute.googleapis.com/compute/v1
  description: Google Cloud Interconnect production endpoint
security:
- oauth2:
  - https://www.googleapis.com/auth/compute
tags:
- name: Interconnects
  description: Manage interconnect connections
paths:
  /projects/{project}/global/interconnects:
    get:
      operationId: listInterconnects
      summary: Google Cloud Interconnect List interconnects
      description: Retrieves the list of interconnects available to the specified project.
      tags:
      - Interconnects
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterconnectList'
    post:
      operationId: createInterconnect
      summary: Google Cloud Interconnect Create an interconnect
      description: Creates an interconnect in the specified project.
      tags:
      - Interconnects
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Interconnect'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
  /projects/{project}/global/interconnects/{interconnect}:
    get:
      operationId: getInterconnect
      summary: Google Cloud Interconnect Get an interconnect
      description: Returns the specified interconnect resource.
      tags:
      - Interconnects
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      - name: interconnect
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interconnect'
    delete:
      operationId: deleteInterconnect
      summary: Google Cloud Interconnect Delete an interconnect
      description: Deletes the specified interconnect.
      tags:
      - Interconnects
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      - name: interconnect
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
components:
  schemas:
    Interconnect:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the resource
        name:
          type: string
          description: Name of the interconnect
        description:
          type: string
          description: An optional description of the interconnect
        location:
          type: string
          description: URL of the interconnect location
        linkType:
          type: string
          enum:
          - LINK_TYPE_ETHERNET_10G_LR
          - LINK_TYPE_ETHERNET_100G_LR
          description: Type of the link for this interconnect
        requestedLinkCount:
          type: integer
          description: Target number of physical links in the interconnect
        interconnectType:
          type: string
          enum:
          - IT_PRIVATE
          - DEDICATED
          - PARTNER
          description: Type of interconnect
        state:
          type: string
          enum:
          - ACTIVE
          - UNPROVISIONED
          description: Current status of the interconnect
        operationalStatus:
          type: string
          enum:
          - OS_ACTIVE
          - OS_UNPROVISIONED
        selfLink:
          type: string
          description: Server-defined URL for the resource
    InterconnectList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Interconnect'
    Operation:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
        targetLink:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/compute: Manage your Google Compute Engine resources
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform resources
